.CarCont{
    width: 900px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.Nosotros{
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    /* background-color: antiquewhite; */
    box-shadow: 3px 3px 70px 10px antiquewhite;
}

.Nosotros-titulo{
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #f4305b;
    
}

.Nosotros-p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 30px;
    color: grey;
    letter-spacing: 1px;
    overflow: hidden;
}

.RedCont{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.RedCont-insta, .RedCont-cel{
    padding: 20px;
}
.instagram,.phone{
    font-size: 50px;
    color: gray;
    
}
.name-insta{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.name-insta:hover{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.phone{
    font-size: 60px;
}

.phone, .number{
    display: inline;
    padding: 10px;
}

.compRedes{
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
}
.RedCont-insta{
    cursor: pointer;
}

.home-container{
    margin-top: 100px;
    height: fit-content;
}